* {
  box-sizing: border-box;
}

body {
  background-color: #f1f2f3;
  font-family: Arial, sans-serif;
  margin: 0;
}

.header {
  background-color: #006c67;
}
.sidebar-left {
  background-color: #003844;
}
.sidebar-right {
  background-color: #ffb100;
}
.content {
  background-color: #ffebc6;
}
.footer {
  background-color: #006c67;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 150px 1fr 150px;
  grid-template-rows: 100px 1fr 500px;
  grid-template-areas:
  "header header header"
  "sidebar-left content sidebar-right"
  "sidebar-left footer footer";
}

.header {
  /* grid-column: 1 / -1; */
  grid-area: header;
}

.content > div {
  height: 300px;
}
.sidebar-left {
  /* grid-row: 2 / -1; */
  grid-area: sidebar-left;
}

.sidebar-right{
  grid-area: sidebar-right;
}
.content {
  grid-area: content;
}

.footer {
  /* grid-column: 2 / -1; */
  grid-area: footer;
}