.button {
  background-color: #bbb;
  border-radius: 5px;
  font-size: 14px;
}

.button--hidden {
  display: none;
}

.background-color {
  background-color: aqua;
}

.checked {
  text-decoration: line-through;
}